<a href="https://colab.research.google.com/github/ArpanChaudhary/Pandas/blob/main/pandas6_SeriesManipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## PANDAS

In [1]:
## Import pandas and NumPy libraries

In [2]:
import numpy as np
import pandas as pd

## Series Manipulation

In [3]:
series1 = pd.Series(data=[1,2,3,4],index=['CA','OR','CO','AZ'])

series1

CA    1
OR    2
CO    3
AZ    4
dtype: int64

In [4]:
# fetching element from the series using Index name

In [5]:
series1['CA']

1

In [6]:
series1['AZ']

4

In [7]:
# fetching element from the series using Index number

In [8]:
series1[0]

<ipython-input-8-88645f157ab5>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  series1[0]

1

In [9]:
series1[3]

<ipython-input-9-f47db9aeb36d>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  series1[3]

4

In [10]:
# slicing the element from series

In [11]:
series1[0:]

CA    1
OR    2
CO    3
AZ    4
dtype: int64

In [12]:
series1[0:3]

CA    1
OR    2
CO    3
dtype: int64

In [13]:
series1[1:3]

OR    2
CO    3
dtype: int64

In [14]:
ser1 = pd.Series([1,2,3,4,10],['CA','OR','CO','AZ','NV'])
ser2 = pd.Series([1,2,5,4,30],['CA','OR','NV','PA','CO'])

print('Series_1 \n',ser1)

print('*' * 20)

print('Series_2 \n',ser2)

Series_1
 CA     1
OR     2
CO     3
AZ     4
NV    10
dtype: int64
********************
Series_2
 CA     1
OR     2
NV     5
PA     4
CO    30
dtype: int64

In [15]:
ser3 = ser1 + ser2

print('\n After adding two series, the result looks like this.....\n')

print(ser3)

print('\n Python tries to add values at the same index, and keeps NaN where index are not matched')

 After adding two series, the result looks like this.....

AZ     NaN
CA     2.0
CO    33.0
NV    15.0
OR     4.0
PA     NaN
dtype: float64

 Python tries to add values at the same index, and keeps NaN where index are not matched

In [16]:
# as same subtraction, multiplication, other operation can be done